td {
  width: 50px;
  height: 50px;
  border: 1px solid black;
}

#controls {
  text-align: center;
  margin-bottom: 20px;
}

button {
  padding: 10px 20px;
  margin: 5px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  background-color: #007BFF;
  color: white;
  border-radius: 4px;
}

button:hover {
  background-color: #0056b3;
}

.color-button-wrapper {
  position: relative;
  display: inline-block;
}

.hidden-color-picker {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

#grid td:hover {
  border: 1px solid #666;
}

#grid td {
  border-radius: 4px;
  transition: background-color 0.04s ease-in-out;
  padding: 5px;
  border: 1px solid #aaa;
}
